%p#notice= notice
%h1 Libro de Servicios ofrecidos en tienda
.table
  %table.table.datatable.table-striped.responsive.no-wrap
    %thead
      %tr
        %th Nombre
        %th Precio
        %th Estado
        %th
        %th
        %th
    %tbody
      - @services.each do |service|
        %tr
          %td= service.name
          %td= currency_cl service.price
          %td= service.state
          %td= link_to 'Show', service
          %td= link_to 'Edit', edit_service_path(service)
          %td= link_to 'Destroy', service, method: :delete, data: { confirm: '¿Quieres eliminarlo?' }
%br/
= link_to 'Nuevo Servicio', new_service_path
