%p#notice= notice
%p
  %strong Name:
  = @service.name
%p
  %strong Price:
  = currency_cl @service.price
%p
  %strong State:
  = @service.state
= link_to 'Edit', edit_service_path(@service)
|
= link_to 'Back', services_path
