-array_data = Transaction.array_stock_months_this_year
.col-md-6
  .card
    .header
      %h4.title= "Detalle tipo de ventas este #{Date.today.year}"
      %p.category Datos de todos los productos/servicios/extras
    .content
      #chartStock.ct-chart
      .footer
        %hr/
        .stats
          %i.fa.fa-check
          Datos de productos

:javascript
  $('#chartStock').highcharts({
        chart: {
            type: 'column'
        },
        credits:{
            text: '',
            href: '',
            display:'none'
          },
        title: {
            text: 'Cantidad de Productos/servicios/extras vendidos'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [
                'Enero',
                'Febrero',
                'Marzo',
                'Abril',
                'Mayo',
                'Junio',
                'Julio',
                'Agosto',
                'Septiembre',
                'Octubre',
                'Noviembre',
                'Dicciembre'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Cantidad de unidades'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Productos vendidos',
            data: #{array_data[0]}

        }, {
            name: 'Servicios ofrecidos',
            data: #{array_data[1]}

        }, {
            name: 'Ventas por productos usados',
            data: #{array_data[2]}

        }]
    });