%p#notice= notice
%h1 Inventario - Productos para usar en tienda
.table
  %table.table.datatable.table-striped.responsive.no-wrap
    %thead
      %tr
        %th name
        %th Cantidad
        %th Precio
        %th Costo
        %th Estado
        %th
        %th
        %th
    %tbody
      - @products.each do |product|
        %tr
          %td= product.name
          %td= currency_cl product.quantity
          %td= currency_cl product.price
          %td= currency_cl product.cost
          %td= product.state
          %td= link_to 'Show', product
          %td= link_to 'Edit', edit_product_path(product)
          %td= link_to 'Destroy', product, method: :delete, data: { confirm: '¿quieres borrarlo?' }
%br/
= link_to 'Nuevo Producto Extra', new_extra_product_path
