%p#notice= notice
%p
  %strong Nature:
  = @product.nature
%p
  %strong Cost:
  = currency_cl @product.cost
%p
  %strong Price:
  = currency_cl @product.price
%p
  %strong State:
  = @product.state
= link_to 'Edit', edit_extra_product_path(@product)
|
= link_to 'Back', extra_products_path
