%p#notice= notice

.card
  .header
    %h1 Libro de Ventas
  .content
    .table
      %table.table.datatable.table-striped
        %thead
          %tr
            %th Fecha
            %th Total
            %th
            %th
        %tbody
          - @transactions.reverse.each do |transaction|
            %tr
              %td= transaction.created_at.strftime("%d/%m/%Y")
              %td= currency_cl transaction.total
              %td= link_to 'Ver', transaction
              %td= link_to 'Eliminar', transaction, method: :delete, data: { confirm: '¿quieres eliminarlo de verdad?' }
    %br/
= link_to 'Nueva Venta', new_transaction_path